@page "/Promociones"
@model Front.Pages.Promociones.PromocionesIndexModel
@{
    ViewData["Title"] = "Promociones";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Promociones</h2>

    <a asp-page="/Promociones/Crear" class="btn btn-success">
        <i class="fa-solid fa-plus"></i> Gestionar promociones
    </a>
</div>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensaje"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var promo in Model.Promociones)
        {
            <tr>
                <td>@promo.id_promocion</td>
                <td>@promo.titulo</td>
                <td>@promo.descripcion</td>
                <td>@promo.fecha_inicio.ToShortDateString()</td>
                <td>@promo.fecha_fin.ToShortDateString()</td>
                <td>
                    <form method="post" asp-page-handler="EnviarPromo" class="d-inline">
                        <input type="hidden" name="idPromocion" value="@promo.id_promocion" />
                        <button type="submit" class="btn btn-primary btn-sm">
                            Enviar a suscritos
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
