@page
@model Front.Pages.Promociones.PromocionesPageModel
@{
    ViewData["Title"] = "Promociones";
}

<h2>Promociones</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensaje"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var promo in Model.Promociones)
        {
            <tr>
                <td>@promo.id_promocion</td>
                <td>@promo.titulo</td>
                <td>@promo.descripcion</td>
                <td>@promo.fecha_inicio.ToShortDateString()</td>
                <td>@promo.fecha_fin.ToShortDateString()</td>
                <td>
                    <form method="post" asp-page-handler="Enviar">
                        <input type="hidden" name="idUsuario" value="1" /> 
                        <input type="email" name="EmailDestino" placeholder="Correo destino" required />
                        <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>